.grid {
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
}

.card {
    border: 1px solid gray;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,65,1) 35%, rgba(0,212,255,1) 100%);;
    
}


.card h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
}

.card img {
    width: 33%;
}

.card .info {
    display: inline-block;
}

.card .info strong {
    width: 100px;
    display: inline-block;
    text-align: right;
}