body {
    background:url("../imagini/wallpaper.jpg")
}
.element {
    width: 300px;
    height: 300px;
    background: rgba(129,32,233,0.63);
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 300px;
}