body{
    margin: 0 auto;
    padding: 0;
    width: 952px;
    position: relative;
    font-family: Nunito;
}
#page-background{
    background-color: #F9BDBD;
    width: 370px;
    height: 800px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 150px;
    z-index: -1;

}
header {
    padding-top: 23px;
    /* border: 1px solid red; */
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 45px 68px 96px 77px 74px 150px;
    column-gap: 28px;
   
}
header nav ul li{
    text-align: center;
}
header nav ul li a{
    font-size: 16px;
    color: rgba(34, 34, 34, 0.75);
    text-decoration: none;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
}
header nav ul li a.active{
    font-weight: 800;
    color: #DAA520;
}

header nav ul li a.signup{
    text-transform: uppercase;
    border: 1px solid #3E3F43;
    font-weight: bold;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 5px 10px;
}
section{
    /* border: 1px solid red; */
}
section#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5em;
    min-height: 700px;
}
section#main div{
    display: grid;
    grid-template-rows: 100px 200px 40px;
}

section#main div p{
    margin: 0;
    font-size: 36px;
    width: 504px;
} 
section#main img{
    margin-left: -80px;
    margin-top: -50px;
}
section#main #main-flower{
    position: absolute;
    top: 400px;
    right: 180px;
    z-index: -1;
}
section#main div h1{
    margin: 0;
    font-size: 72px;
    font-weight: bold;
    color: #313235;
}
section#main div button{
    border-radius: 4px;
    background-color: #DAA520;
    border: none;
    color: white;
    width: 175px;
    height: 50px;
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
section#main div button:hover{
    border: 2px solid black;
}
section#about .section-title{
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    display: grid;
    grid-template-columns: 30px 205px auto 379px;
    align-items: center;    
}

section#about .section-title div:nth-child(2){
    font-size: 36px;
    font-weight: bold;
    color: #3E3F43;
}
section#about .section-title h2{
    color: rgba(34, 34, 34, 0.1);
    font-size: 72px;
    opacity: 0.7;
    font-weight: bold;
    margin: 0;
}
section#about #article1{
    position: relative;
    display: grid;
    grid-template-columns: 400px 430px;
    column-gap: 60px;
    margin-bottom: 40px;
}
section#about #main-flower{
    position: absolute;
    width: 380px;
    top: 170px;
    right: 650px;
    z-index: -3;
}
section#about #article2{
    display: grid;
    grid-template-columns: auto 287px;
    column-gap: 60px;
}
article header{
    margin: 0;
    margin-top: 80px;
    padding: 0;
    display: block;
    font-size: 34px;
    line-height: 49px;
    color: #3E3F43;
}
.rectangle{
    position: absolute;
    z-index: -1;
    width: 280px;
    height: 390px;
    /* left: 100px; */
    top: -80px; 
    border-radius: 0px 100px 0px 100px;
    background: #F7DEA6;
    box-sizing: border-box;
}

article p{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}
#article1 img {
    margin: 0;
    margin-left: 30px;
}
section#how-to-works .section-title{
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    display: grid;
    grid-template-columns: 30px 250px auto 570px;
    align-items: center;    
}

section#how-to-works .section-title div:nth-child(2){
    font-size: 36px;
    font-weight: bold;
    color: #3E3F43;
}
section#how-to-works .section-title h2{
    color: rgba(34, 34, 34, 0.1);
    font-size: 72px;
    opacity: 0.7;
    font-weight: bold;
    margin: 0;
}
section#how-to-works #group1{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4,235px);
    grid-template-rows: 240px 70px;
    row-gap: 20px;
    align-items: center; 
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
}
section#how-to-works button{
    border-radius: 4px;
    background-color: #DAA520;
    border: none;
    color: white;
    width: 212px;
    height: 50px;
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto;
    grid-area: 2 / 1 / 3 / 5;
}
section#how-to-works div button:hover{
    border: 2px solid black;
}

section#categories .section-title{
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    display: grid;
    grid-template-columns: 30px 242px auto 454px;
    align-items: center;    
}
section#categories .section-title div:nth-child(2){
    font-size: 36px;
    font-weight: bold;
    color: #3E3F43;
}
section#categories .section-title h2{
    color: rgba(34, 34, 34, 0.1);
    font-size: 72px;
    opacity: 0.7;
    font-weight: bold;
    margin: 0;
}

section#categories #group2{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3,280px);
    grid-template-rows: repeat(2, 400px);
    column-gap: 55px;
    row-gap: 20px; 
    align-items: center; 
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
}

#group2 p {
    padding-left: 16px;
}

.rectangle_cat{
    z-index: -1;
    width: 280px;
    height: 390px;
    border-radius: 0px 100px 0px 100px;
    background: #F9BDBD;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 75% 15%;
} 
.rectangle_cat.chair{
    background: #F7DEA6;
}

.rectangle_cat.kitchen{
    background: #A8DCEC;
}

.rectangle_cat.book{
    background: #F9BDBD;
}

.rectangle_cat.radio{
    background: #F7DEA6;
}
.rectangle_cat img{
  margin: auto auto;
}

section#categories button{
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #3E3F43;
    color: #3E3F43;
    width: 123px;
    height: 40px;
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin: 0 16px 0px auto;
}

section#testimony .section-title{
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    display: grid;
    grid-template-columns: 30px 242px auto 416px;
    align-items: center;    
}
section#testimony .section-title div:nth-child(2){
    font-size: 36px;
    font-weight: bold;
    color: #3E3F43;
}
section#testimony .section-title h2{
    color: rgba(34, 34, 34, 0.1);
    font-size: 72px;
    opacity: 0.7;
    font-weight: bold;
    margin: 0;
}

section#testimony #group3{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2,240px) 384px;
    grid-template-rows: 320px 50px;
    column-gap: 43px;
    row-gap: 10px; 
    align-items: center; 
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
}

.rectangle_test img{
    width: 240px;
    height: 320px;
    border-radius: 100px 0px 100px 0px;
    background: #F9BDBD;
    box-sizing: border-box;
} 

.container {
    width: 384px;
    height: 320px;
    display: grid;
    grid-template-rows: 280px 20px; 
}
.rectangle_test3{
    padding: 54px 20px;
    border-radius: 0px 100px 0px 100px;
    background: #FFFFFF;
    border: 1px solid #A8DCEC;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 30px auto 40px;     
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}

.author {
    display: grid;
    grid-template-columns: 40px auto;
    column-gap: 10px;
}
.author p{
    margin: auto 0;
    font-size: 12px;
    line-height: 16px;
    color: #AFAFAF;
    font-weight: normal;
    vertical-align: middle;
}

.author img {
    border-radius: 50%;
}

.rectangle_test4{
    display: grid;
    grid-template-columns: 33px 60px auto 32px 33px;
    margin: 21px 0 auto 0;
    column-gap: 10px;
    font-size: 14px;
    color: #3E3F43;
}

.rectangle_test4 p {
    margin: auto 0;
    line-height: 19px;
    vertical-align: middle;
}
.rectangle_test4 img {
    margin: auto 0;
}

.small_buttons {
    display: grid;
    grid-template-columns: auto repeat(4, 40px);
    column-gap: 5px;    
}

.small_buttons .rect {
    background: #E5E5E5;
    border-radius: 8px;
    width:40px;
    height: 8px;
}

.small_buttons .rect.active {
    background: #DAA520;
}

section#forma {
    display: grid;
    grid-template-columns: 493px auto;
    column-gap: 5px;
    background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);  
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin:0;
    padding: 50px 0px;
}

section#forma p {
    margin:0;
}

section#forma input {
    padding: 0;
    margin: 0;
    width: 330px;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #DAA520;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    }

#input_button {
    margin: auto 0;
}

section#forma button{
    border-radius: 0 4px 4px 0;
    background-color: #DAA520;
    border: none;
    color: white;
    width: 120px;
    height: 39px;
    font-family: Nunito;
    font-size: 16px;
    line-height: 22px;
    margin: auto 0;
    margin-left: -7px;
}
section#forma div button:hover{
    border: 2px solid black;
}

footer{
    /* border: 1px solid red; */
    background-color: rgba(238,238,238,1);
    height: 252px;
    display: grid;
    grid-template-columns: 192px 65px 85px 78px 81px 326px;
    grid-template-rows: 10px 160px 70px;
    column-gap: 30px;
    /* justify-items: center;
    align-items: center; */
}

footer p {
    font-size: 14px;
    color: rgba(34, 34, 34, 0.75);
    text-decoration: none;
    line-height: 35px;
    font-weight: normal;
    font-style: normal;  
}

footer ul {
    list-style: none;
    margin:0;
    padding:0;
}


footer ul li{
    font-size: 14px;
    color: rgba(34, 34, 34, 0.75);
    text-decoration: none;
    line-height: 35px;
    font-weight: normal;
    font-style: normal;    
}

footer ul li a {
    font-size: 14px;
    color: rgba(34, 34, 34, 0.75);
    text-decoration: none;
    line-height: 35px;
    font-weight: normal;
    font-style: normal; 
}
#linie {
    grid-area: 1 / 1 / 2 / 6;
}

#img_footer {
    margin-left: -26px;
    grid-area: 1 / 6 / 4 / 7;  
}

#footer_logo {
    margin-top: 15px;
    margin-bottom: 10px;
} 
footer #copy {
    grid-area: 3 / 4 / 4 / 6;     
    align-self: end;
}

footer #copy p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    color: #8D8D8D;
}
